<script setup lang="ts">
import { reactive, computed } from "vue";
const state = reactive({
  num1: "1",
  num2: "1",
  result: 2,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});

const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>

<template>
  <br />
  <div style="background-color: greenyellow; width: 300px; text-align: center">
    <br />
    <div>
      <input type="text" ref="num1" v-model="state.num1" class="center_text" />
    </div>
    <br />
    <div>+</div>
    <br />
    <div>
      <input type="text" ref="num2" v-model="state.num2" class="center_text" />
    </div>
    <br />
    <div>
      <button class="center_text buttonWidth" @click="doAdd()">=</button>
    </div>
    <br />
    <div class="center_text" ref="result">{{ state.result }}</div>
    <br />
    <div>{{ state.num1 }}+{{ state.num2 }} ={{ result }}</div>
    <br />
  </div>
</template>

<style>
.center_text {
  text-align: center;
  font-size: 15px;
  margin: 5px;
}
.buttonWidth {
  width: 100px;
}
</style>
